// ==========================================================================
// Mixins
// Author: Mike Fortuna
// Description: Various Reusable Mixins. Documentation/usage found above each.
// ==========================================================================


// Position
// @include position(fixed, $top: 0, $left: 0);

@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Cross Browser border radius
// @include border-radius(5px);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

// Cross browser Opacity
// @include opacity(0.8);

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Full size bg mixin
// @include full-size-bg('url');

@mixin full-size-bg($bg-url) {
  background:url($bg-url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Size mixin
// @include size(100%, 100%);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// BORDER BOX
// @include border-box;

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// TRANSITIONS
// @include transition-all(1.2s);

@mixin transition-all($secs) {
  -webkit-transition: all $secs ease;
  -moz-transition: all $secs ease;
  transition: all $secs ease;
}

@mixin transition-linear($secs) {
  -webkit-transition: linear $secs ease;
  -moz-transition: linear $secs ease;
  -o-transition: linear $secs ease;
  -ms-transition: linear $secs ease;
  transition: linear $secs ease;
}

@mixin transition-opacity($secs) {
  -webkit-transition: opacity $secs ease-in-out;
  -moz-transition: opacity $secs ease-in-out;
  -o-transition: opacity $secs ease-in-out;
  -ms-transition: opacity $secs ease-in-out;
  transition: opacity $secs ease-in-out;
}

@mixin transition-visibility($secs) {
  -webkit-transition: visibility $secs linear;
  -moz-transition: visibility $secs linear;
  -o-transition: visibility $secs linear;
  -ms-transition: visibility $secs linear;
  transition: visibility $secs linear;
}


// Tool Tips

@mixin hui_tooltip($content: attr(data-tooltip), $direction: top) {
  position: relative;
  &:before, &:after {
    display: none;
    z-index: 98;
  }
  &:hover {
    &:after { // for text bubble
      content: $content;
      display: block;
      position: absolute;
      height: 12px; // (makes total height including padding 22px)
      padding: 6px;
      font-size: 12px;
      white-space: nowrap;
      color: #fff;
      @include text-shadow(1px 1px #000);
      background-color: #222;
    }
    @if ($direction == 'top'){
      &:before {
        @include triangle(down, 6px, #222);
        top: -6px; margin-top: 0;
        left: 47%;
      }
      &:after {
        top: -28px;
        left: 47%; margin-left: -20px;
      }
    }
    @else if ($direction == 'bottom'){
      &:before {
        @include triangle(up, 6px, #222);
        top: auto; margin-top: 0;
        bottom: -6px;
        left: 47%;
      }
      &:after {
        bottom: -28px;
        left: 47%; margin-left: -20px;
      }
    }
  }
}

// Firefox mixin
// usage:
// @include firefox {
//  bar: foo;
// }

@mixin firefox {
  @-moz-document url-prefix() {
    @content;
  }
}


// FONT FACE
// usage
//   @include font-face('gotham', '/fonts/gotham');

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
         url($file-name + '.woff') format('woff'),
         url($file-name + '.ttf')  format('truetype'),
         url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}



// GRADIENT BG
// usage
//   .foo {
//     @include background-gradient(red, black, 'vertical');
//   }

@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

// usage:
// @include linear-gradient(#FFA801, #FFD952);

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

// FULL SIZE BG GRADIENT MIXIN
// @include full-gradient(#FFA801, #FFD952);

@mixin full-gradient($fromColorFull, $toColorFull) {
  background: $toColorFull; /* Old browsers */
  background: -moz-linear-gradient(top, $fromColorFull 0%, $toColorFull 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fromColorFull), color-stop(100%,$toColorFull)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $fromColorFull 0%,$toColorFull 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $fromColorFull 0%,$toColorFull 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $fromColorFull 0%,$toColorFull 100%); /* IE10+ */
  background: linear-gradient(to bottom, $fromColorFull 0%,$toColorFull 100%); /* W3C */
}


@mixin setRowStyle($color1, $color2) {
  background:$color1;
  &:nth-child(even) {
    background:$color2;
  }
}

// Triangles
// @include css-triangle(10px, #FFD952, bottom);

@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}



// PLACHOLDER MIXIN
// usage:
// .foo {
//   @include placeholder {
//     color: green;
//   }
// }

@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}
