<div id="landing">
  <form ng-submit="addLink()" class="add-link">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control js-url" placeholder="Enter an image url" ng-model="theInput.input" ng-disabled="isLoading">
        <span class="input-group-btn">
          <button class="btn btn-default js-url" ng-class="{ 'btn-success': !isSearch && !isLoading }" type="submit"><i class="fa" ng-class="{ 'fa-search': isSearch && !isLoading, 'fa-plus': !isSearch && !isLoading , 'fa-circle-o-notch': !isSearch && isLoading, 'fa-spin': !isSearch && isLoading}"></i></button>
        </span>
        <!-- <div class="input-group-addon"></div> -->
      </div>

      <!-- <input type="button" ng-click="addLink()" value="Add Link" /> -->
    </div>
  </form>
</div>

<div graph-module graph-data="graphData">
  <div class="graph-container">
    
  </div>
</div>
