// ==========================================================================
// Custom Buttons
// ==========================================================================

.btn {
  &.huge {
    font-size:28px;
  }
  &.block {
    @extend %block;
  }
  &.btn-white {
    color: $mg-black;
    &:hover {
      background: $mg-black;
      color: $mg-white;
    }
  }
  &.btn-black {
    color: $mg-white;
    &:hover {
      background: $mg-white;
      color: $mg-black;
    }
  }
  &.btn-orange {
    &:hover {
      background: $mg-white;
      color: $mg-black;
    }
  }
  &.btn-yellow {
    &:hover {
      background: $mg-white;
      color: $mg-black;
    }
  }
}
