// ==========================================================================
// Respnsive/Mobile
// Author: Mike Fortuna
// ==========================================================================

@media #{$mobile} {

// ==========================================================================

  // custom mobile styles




// ==========================================================================

  //body bg
  body {
    background-position: center;
  }

  //footer
  footer {
    font-size:($footer-fsz)-2;
    margin:20px 0 0;
    p {
      font-size:($footer-fsz)-2;
    }
    img {
      margin:15px auto;
    }
  }

  //hero bg
  #hero {
    background-position: center;
  }

  //buy
  #buy {
    width: 90%;
  }

  // hide classes
  .hide-mobile, .hide-mobile-inline {
    display:none;
  }

  #social {
    a {
      line-height:$social-fsz*2;
    }
    iframe {
      display:block;
      clear:both;
      margin:10px auto;
      text-align: center;
    }
  }

  // mobile nav styles
  @if $mobile-nav == true {
    .nav-toggle {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    nav {
      display:none;
      @include position(fixed, $top: $mobile-nav-height, $left: 0);
      height:auto;
      background:$mobile-nav-color;
      padding:$mobile-nav-padding;
      margin: 0;
      width:100%;
      text-align: center;
      a {
        color:$mobile-nav-link-color;
        font-size:$mobile-nav-fsz;
        &:hover {
          color:$mobile-nav-link-hover;
        }
      }
      li a {
        display:block;
      }
    }
  }
  // full width main setting
  @if $full-width-main-mobile == true {
    main {
      @for $i from 1 through $grid-columns {
        .column-#{$i} {
          width: 100%;
        }
      }
    }
  }

  // full width header setting
  @if $full-width-header-mobile == true {
    header {
      text-align: center;
      @for $i from 1 through $grid-columns {
        .column-#{$i} {
          width: 100%;
        }
      }
    }
  }

  // full width footer setting
  @if $full-width-footer-mobile == true {
    footer {
      text-align: center;
      height:180px;
      .copy p {
        line-height: 20px;
      }
      @for $i from 1 through $grid-columns {
        .column-#{$i} {
          width: 100%;
        }
      }
      .logos img {
        display:block;
        margin: 0 auto;
      }
    }
  }

  // reset footer col padding
  footer {
    [class*='column-'] {
      padding:0;
    }
  }


}

@media #{$mobile-sm} {
  // ==========================================================================

    // custom mobile-sm styles (iPhone4 and other small phones)


  // ==========================================================================
}

@media #{$mobile-portrait} {
  // ==========================================================================

    // custom mobile-portrait styles


  // ==========================================================================
}

@media #{$mobile-landscape} {
  // ==========================================================================

    // custom mobile-landscape styles


  // ==========================================================================
}
