// ==========================================================================
// Respnsive/Tablet
// Author: Mike Fortuna
// ==========================================================================

@media #{$tablet} {

  // ==========================================================================

    // custom tablet styles




  // ==========================================================================

  //body bg
  body {
    background-position: center;
  }

  //hero bg
  #hero {
    background-position: center;
  }

  // hide classes
  .hide-tablet, .hide-tablet-inline, .only-mobile, .only-desktop {
    display:none;
  }

  // mobile nav on tablet setting
  @if $mobile-nav-on-tablet == true {
    .nav-toggle {
      display:block;
    }
    .nav {
      display:none;
      @include position(fixed, $top: $header-height, $left: 0);
      height:$mobile-nav-height;
      background:$mobile-nav-color;
      padding:$mobile-nav-padding;
      width:100%;
      text-align: center;
      a {
        color:$mobile-nav-link-color;
        font-size:$mobile-nav-fsz;
        &:hover {
          color:$mobile-nav-link-hover;
        }
      }
      li a {
        display:block;
      }
    }
  }

}

@media #{$tablet-portrait} {

  // ==========================================================================

    // custom tablet portrait styles


  // ==========================================================================

  // tablet portrait is same as mobile
  @if $tablet-portrait-is-mobile == true {
    .hide-mobile, .hide-mobile-inline {
      display:none;
    }
    .only-mobile {
      display: block;
    }
    .only-mobile-inline {
      display: inline-block;
    }
  }

  // full width tablet portrait
  @if $full-width-tablet-portrait == true {
    @for $i from 1 through $grid-columns {
      .column-#{$i} {
        width: 100%;
      }
    }
  }

}

@media #{$tablet-landscape} {
  // ==========================================================================

    // custom tablet landscape styles


  // ==========================================================================
}
