// ==========================================================================
// Respnsive/Desktop
// Author: Mike Fortuna
// ==========================================================================

@media #{$desktop} {

  ul.nav {
    //shows nav even after jQuery closes it and browser is resized back
    display:block !important;
  }

  .hide-mobile {
    display:block;
  }

  .hide-mobile-inline {
    display:inline-block;
  }

  .hide-tablet {
    display:block;
  }

  .hide-tablet-inline {
    display:inline-block;
  }

}

@media #{$desktop-sm} {


}

@media #{$desktop-lg} {


}
