// ==========================================================================
// Animations
// ==========================================================================

//-logo
$logo-hover-time: 0.5s;
$logo-hover-opacity: 0.7;

//-btns
$btn-hover-time: 0.5s;

//-socials
$social-hover-time: 0.5s;

//-nav
$nav-hover-time: 0.5s;
