// ==========================================================================
// Color Config
// ==========================================================================

//-body
$body-bg-color: $light-grey;
$body-text-color: $var-black;
$backdrop: rgba(0, 0, 0, 0.65);

//-global link
$link-color: $var-white;
$link-hover: $var-black;

//-headings
$heading-color: null;
$h1-color: $var-black;
$h2-color: $var-black;
$h3-color: $var-black;
$h4-color: $var-black;
$h5-color: $var-black;
$h6-color: $var-black;

//-header
$header-bg-color: $var-black;
$header-text-color: $var-white;
$header-link-color: $var-white;
$header-link-hover: $var-grey;

//-main
$main-bg-color: transparent;
$main-text-color: $var-white;
$main-link-color: $var-white;
$main-link-hover: $var-grey;

//-section
$section-bg-color: $var-black;
$section-text-color: $var-white;
$section-link-color: $var-white;
$section-link-hover: $var-grey;

//-article
$article-bg-color: $var-black;
$article-text-color: $var-white;
$article-link-color: $var-white;
$article-link-hover: $var-grey;

//-nav
$nav-bg-color: transparent;
$nav-link-color: $var-black;
$nav-li-bg-color: transparent;

//-mobile nav
$mobile-nav-color: $var-black;
$mobile-nav-link-color: $var-white;
$mobile-nav-link-hover: $var-grey;

//-hero
$hero-bg-color: $var-blue;
$hero-text-color: $var-white;

//-footer
$footer-bg-color: $var-black;
$footer-text-color: $var-white;
$footer-link-color: $var-white;
$footer-link-hover: $var-blue;

//-sidebar
$sidebar-bg-color: $var-black;
$sidebar-text-color: $var-white;
$sidebar-link-color: $var-white;
$sidebar-link-hover: $var-blue;

//-buttons
$btn-text-color: $var-black;
$btn-border-size: 2px;
$btn-border-style: solid;
$btn-border-color: transparent;

//-buttons mapping
$btn-colors: (
  btn-black: $var-black,
  btn-blue: $var-blue,
  btn-white: $var-white,
  btn-grey: $var-grey,
  btn-pink: $var-pink,
  btn-red: $var-red,
  btn-yellow: $var-yellow,
  btn-purple: $var-purple,
  btn-orange: $var-orange,
  btn-light-blue: $light-blue
);

@each $btn-color, $color in $btn-colors {
  .btn.#{$btn-color} {
    background-color:#{$color};
  }
}

//-social icons
$social-bg-color: $var-white;
$social-text-color: $var-black;
$social-hover-color: $var-white;

//-code
$code-bg-color: rgba(193, 199, 208, .3);

//-form
$input-border: $var-grey;
$error-border: $var-red;
$error-bg: $light-grey;
$modal-bg-color: $var-white;
