// ==========================================================================
// Project Settings
// ==========================================================================

//-dev
$dev-mode: false;

//-logo
$logo-hover-fade: true;

//-body
$full-width-tablet-portrait: false;
$tablet-portrait-is-mobile: true;

//-nav
$mobile-nav: true;
$mobile-nav-on-tablet: true;
$mobile-nav-float: right;

//-header
$fixed-header: true;
$scroll-header: false;
$full-width-header-mobile: true;

//-main
$full-width-main-mobile: true;

//-footer
$full-width-footer-mobile: false;
$sticky-footer: true;
$footer-list-reset: true;
$footer-list-inline: true;

//-sidebar
$add-sidebar: false;
$fixed-sidebar: true;
