// ==========================================================================
// Transitions
// Author: Mike Fortuna
// ==========================================================================

// TRANSITIONS
// @include transition-all(1.2s);

@mixin transition-all($secs) {
  -webkit-transition: all $secs ease;
  -moz-transition: all $secs ease;
  transition: all $secs ease;
}

@mixin transition-linear($secs) {
  -webkit-transition: linear $secs ease;
  -moz-transition: linear $secs ease;
  -o-transition: linear $secs ease;
  -ms-transition: linear $secs ease;
  transition: linear $secs ease;
}

@mixin transition-opacity($secs) {
  -webkit-transition: opacity $secs ease-in-out;
  -moz-transition: opacity $secs ease-in-out;
  -o-transition: opacity $secs ease-in-out;
  -ms-transition: opacity $secs ease-in-out;
  transition: opacity $secs ease-in-out;
}

@mixin transition-visibility($secs) {
  -webkit-transition: visibility $secs linear;
  -moz-transition: visibility $secs linear;
  -o-transition: visibility $secs linear;
  -ms-transition: visibility $secs linear;
  transition: visibility $secs linear;
}
