// ==========================================================================
// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

h1 {
  font-size:$h1-fsz;
}

h2 {
  font-size:$h2-fsz;
}

h3 {
  font-size:$h3-fsz;
}

h4 {
  font-size:$h4-fsz;
}

h5 {
  font-size:$h5-fsz;
}

h6 {
  font-size:$h6-fsz;
}
