// ==========================================================================
// Logo
// ==========================================================================

a.logo {
  height:$header-height;
  max-width:$logo-max-width;
  background-image: url($logo-image);
  background-attachment: $logo-bg-attachment;
  background-position: $logo-bg-position;
  background-size:$logo-bg-size;
  @include transition-all($logo-hover-time);
  @if $logo-hover-fade == true {
    &:hover {
      opacity:$logo-hover-opacity;
    }
  }
}
