// ==========================================================================
// Social Links
// ==========================================================================

.social {
  @extend %list-reset;
  iframe {
    position: relative;
    top: 8px;
  }
  a {
    background:$var-white;
    color:$var-black;
    padding:5px 10px;
    border-radius:2px;
    @include transition-all(0.5s);
    &.tw, &.yt {
      padding:5px 9px;
    }
    &:hover {
      opacity:0.8;
    }
  }
}
