// ==========================================================================
// Responsive Table
// ==========================================================================


table {
  width: 100%;
  border-collapse: collapse;
  tr:nth-of-type(odd) {
    background: $var-white;
  }
  th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }
  &.settings {
    td:first-chqild {
      font-weight:bold;
    }
  }
}

@media only screen and (max-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  table {
    tr { border: 1px solid #ccc; }

  	td {
  		/* Behave  like a "row" */
  		border: none;
  		border-bottom: 1px solid #eee;
  		position: relative;
  		padding-left: 50%;
      &:before {
    		/* Now like a table header */
    		position: absolute;
    		/* Top/left values mimic padding */
    		top: 6px;
    		left: 6px;
    		width: 45%;
    		padding-right: 10px;
    		white-space: nowrap;
    	}
  	}
    &.demo {
      /* Label the data */
    	td:nth-of-type(1):before { content: "First Name"; }
    	td:nth-of-type(2):before { content: "Last Name"; }
    	td:nth-of-type(3):before { content: "Job Title"; }
    }

    &.settings {
      tbody td.val {
        font-weight:bold;
      }
      td:nth-of-type(1):before { content: "Setting"; }
    	td:nth-of-type(2):before { content: "Usage"; }
    }
  }
}
