// ==========================================================================
// Load in Fonts
// ==========================================================================

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');

//-body
$body-fsz: 14px;
$body-fw: 'normal';

//-mobile nav
$mobile-nav-fsz: 20px;
$nav-toggle-fsz: 28px;

//-hero
$hero-fsz: 14px;
$hero-fw: 'normal';

//-sidebar
$sidebar-fsz: 14px;
$sidebar-fw: 'normal';

//-footer
$footer-fsz: 14px;
$footer-fw: 'normal';
