// ==========================================================================
// Images
// ==========================================================================

//-body
$body-bg-image: '';
$body-bg-attachment: '';
$body-bg-position: '';
$body-bg-size: '';

//-hero
$hero-bg-image: '';
$hero-bg-attachment: '';
$hero-bg-position: '';
$hero-bg-size: '';

//-sidebar
$sidebar-bg-image: '';
$sidebar-bg-attachment: '';
$sidebar-bg-position: '';
$sidebar-bg-size: '';

//-footer
$footer-bg-image: '';
$footer-bg-attachment: '';
$footer-bg-position: '';
$footer-bg-size: '';
