// ==========================================================================
// Images
// ==========================================================================

//-body
$body-bg-image: '';
$body-bg-attachment: '';
$body-bg-position: '';
$body-bg-size: '';

//-logo
$logo-image: '';
$logo-bg-attachment: '';
$logo-bg-position: '';
$logo-bg-size: '';

//-header
$header-bg-image: '';
$header-bg-attachment: '';
$header-bg-position: '';
$header-bg-size: '';

//-nav
$nav-bg-image: '';
$nav-bg-attachment: '';
$nav-bg-position: '';
$nav-bg-size: '';

//-section
$section-bg-image: '';
$section-bg-attachment: '';
$section-bg-position: '';
$section-bg-size: '';

//-article
$article-bg-image: '';
$article-bg-attachment: '';
$article-bg-position: '';
$article-bg-size: '';

//-hero
$hero-bg-image: '';
$hero-bg-attachment: '';
$hero-bg-position: '';
$hero-bg-size: '';

//-main
$main-bg-image: '';
$main-bg-attachment: '';
$main-bg-position: '';
$main-bg-size: '';

//-sidebar
$sidebar-bg-image: '';
$sidebar-bg-attachment: '';
$sidebar-bg-position: '';
$sidebar-bg-size: '';

//-footer
$footer-bg-image: '';
$footer-bg-attachment: '';
$footer-bg-position: '';
$footer-bg-size: '';
