@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300");
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro");
.btn.btn-black {
  background-color: #000; }

.btn.btn-blue {
  background-color: #495B7E; }

.btn.btn-white {
  background-color: #fff; }

.btn.btn-grey {
  background-color: #a6a6a6; }

.btn.btn-pink {
  background-color: #eb2048; }

.btn.btn-red {
  background-color: #ca2026; }

.btn.btn-yellow {
  background-color: #ffd850; }

.btn.btn-purple {
  background-color: #6b1769; }

.btn.btn-orange {
  background-color: #ff9e04; }

.btn.btn-light-blue {
  background-color: #588bcd; }

.wrapper, .row {
  /* *zoom: 1; */ }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

.wrapper.center, .row.center, [class*='column-'].center {
  text-align: center; }

[class*='column-'].right {
  text-align: right; }

[class*='column-'].left {
  text-align: left; }

header {
  list-style-type: none; }
  header li {
    display: inline; }
    header li a {
      text-decoration: none; }

header, .social {
  list-style-type: none; }
  header li a, .social li a {
    text-decoration: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**

  @reset
---------------------------------------------------------
  base/_reset.scss
--------------------------------------------------------

  Credit: Normalize
  Edited by: Halo Media
  http://normalize.css v2.1.0 http://git.io/normalize

--------------------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

a img {
  border: none; }

input[type="submit"] {
  -webkit-appearance: none; }

/**

  @print
--------------------------------------------------------
  base/_print.scss
--------------------------------------------------------

  Print Stylesheet from http://h5bp.com/r

-----------------------------------------------------  */
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   CREDIT: HTML5 Boilerplate
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.wrapper {
  width: 100%;
  padding: 0 2em;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto; }

[class*='column-'] {
  float: left;
  width: 100%;
  min-height: 1px; }

.column-1 {
  width: 8.3333333333%; }

.column-2 {
  width: 16.6666666667%; }

.column-3 {
  width: 25%; }

.column-4 {
  width: 33.3333333333%; }

.column-5 {
  width: 41.6666666667%; }

.column-6 {
  width: 50%; }

.column-7 {
  width: 58.3333333333%; }

.column-8 {
  width: 66.6666666667%; }

.column-9 {
  width: 75%; }

.column-10 {
  width: 83.3333333333%; }

.column-11 {
  width: 91.6666666667%; }

.column-12 {
  width: 100%; }

body {
  font-family: 14px;
  font-weight: "normal";
  font-size: 14px;
  color: #000;
  background: #efefef;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: ""; }
  body a {
    color: #fff; }
    body a:hover {
      color: #000; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }
  img.img-fluid {
    width: 100%; }

header {
  width: 100%;
  height: 75px;
  background-color: #000;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: "";
  font-size: 14px;
  font-weight: "normal";
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 0;
  z-index: 777; }
  header a {
    color: #fff; }
    header a:hover {
      color: #a6a6a6; }
  header [class*='column-'] {
    padding: 10px; }

header {
  position: fixed;
  top: 0;
  left: 0; }

main {
  padding-top: 75px; }

nav {
  background-color: transparent;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: ""; }
  nav li {
    background-color: transparent; }
    nav li a {
      color: #000;
      font-size: 14px;
      font-weight: "normal";
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.nav-toggle {
  display: none;
  float: right;
  font-size: 28px;
  margin: 0; }

main {
  font-family: 14px;
  font-weight: "normal";
  font-size: 14px;
  color: #fff;
  background: transparent;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: ""; }
  main .row {
    padding: 1em; }
  main [class*='column-'] {
    padding: 0; }

section {
  font-family: 14px;
  font-weight: "normal";
  font-size: 14px;
  color: #fff;
  background: #000;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: ""; }
  section a {
    color: #fff; }
    section a:hover {
      color: #a6a6a6; }

article {
  font-family: 14px;
  font-weight: "normal";
  font-size: 14px;
  color: #fff;
  background: #000;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: ""; }
  article a {
    color: #fff; }
    article a:hover {
      color: #a6a6a6; }

footer {
  padding: 1em 10%;
  clear: both;
  height: 50px;
  font-family: 14px;
  font-weight: "normal";
  font-size: 14px;
  color: #fff;
  background: #000;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: ""; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #495B7E; }
  footer .wrapper {
    margin: 0 auto; }
  footer [class*='column-'] {
    padding: 1em; }

html, body {
  height: 100%; }

main {
  min-height: 100%;
  margin-bottom: -50px; }
  main:after {
    content: "";
    display: block;
    height: 50px; }

a.logo {
  height: 75px;
  max-width: 250px;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: "";
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a.logo:hover {
    opacity: 0.7; }

.btn {
  padding: 15px 20px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  border-radius: 0px;
  border-style: solid;
  border-color: transparent;
  border-size: 2px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.hero {
  width: 100%;
  height: 420px;
  font-family: 14px;
  font-weight: "normal";
  font-size: 14px;
  color: #fff;
  background: #495B7E;
  background-image: url("");
  background-attachment: "";
  background-position: "";
  background-size: ""; }
  .hero.row {
    padding: 100px 0; }
    @media only screen and (max-width: 30em) {
      .hero.row {
        padding: 80px 0; } }

.sidebar {
  display: none; }

.social iframe {
  position: relative;
  top: 8px; }
.social a {
  background: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .social a.tw, .social a.yt {
    padding: 5px 9px; }

table {
  width: 100%;
  border-collapse: collapse; }
  table tr:nth-of-type(odd) {
    background: #fff; }
  table th {
    background: #333;
    color: white;
    font-weight: bold; }
  table td, table th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left; }
  table.settings td:first-chqild {
    font-weight: bold; }

@media only screen and (max-width: 1024px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block; }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  table tr {
    border: 1px solid #ccc; }
  table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%; }
    table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap; }
  table.demo {
    /* Label the data */ }
    table.demo td:nth-of-type(1):before {
      content: "First Name"; }
    table.demo td:nth-of-type(2):before {
      content: "Last Name"; }
    table.demo td:nth-of-type(3):before {
      content: "Job Title"; }
  table.settings tbody td.val {
    font-weight: bold; }
  table.settings td:nth-of-type(1):before {
    content: "Setting"; }
  table.settings td:nth-of-type(2):before {
    content: "Usage"; } }
@media only screen and (max-width: 737px) {
  .nav-toggle {
    display: block; }

  .nav {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    height: auto;
    background: #000;
    padding: 0 0 15px;
    width: 100%;
    text-align: center; }
    .nav a {
      color: #fff;
      font-size: 20px; }
      .nav a:hover {
        color: #a6a6a6; }
    .nav li a {
      display: block; }

  main .column-1 {
    width: 100%; }
  main .column-2 {
    width: 100%; }
  main .column-3 {
    width: 100%; }
  main .column-4 {
    width: 100%; }
  main .column-5 {
    width: 100%; }
  main .column-6 {
    width: 100%; }
  main .column-7 {
    width: 100%; }
  main .column-8 {
    width: 100%; }
  main .column-9 {
    width: 100%; }
  main .column-10 {
    width: 100%; }
  main .column-11 {
    width: 100%; }
  main .column-12 {
    width: 100%; }

  footer [class*='column-'] {
    padding: 0; }

  .hide-mobile, .hide-mobile-inline {
    display: none; } }
@media only screen and (min-width: 738px) and (max-width: 1027px) {
  .nav-toggle {
    display: block; }

  .nav {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    height: auto;
    background: #000;
    padding: 0 0 15px;
    width: 100%;
    text-align: center; }
    .nav a {
      color: #fff;
      font-size: 20px; }
      .nav a:hover {
        color: #a6a6a6; }
    .nav li a {
      display: block; }

  .hide-tablet, .hide-tablet-inline {
    display: none; } }
@media only screen and (min-width: 30em) and (orientation: portrait) {
  .hide-mobile, .hide-mobile-inline {
    display: none; } }
@media only screen and (min-width: 1029px) {
  .hide-mobile {
    display: block; }

  .hide-mobile-inline {
    display: inline-block; }

  .hide-tablet {
    display: block; }

  .hide-tablet-inline {
    display: inline-block; } }
