// ==========================================================================
// Code
// ==========================================================================

code {
  vertical-align: $code-vertical-align;
  padding: $code-padding;
  background: $code-bg-color;
}
