// ==========================================================================
// Footer
// ==========================================================================

footer {
  padding:$footer-padding;
  clear:both;
  height:$footer-height;
  font-family:$footer-font;
  font-weight: $footer-fw;
  font-size: $footer-fsz;
  color: $footer-text-color;
  background: $footer-bg-color;
  background-image: url($footer-bg-image);
  background-attachment: $footer-bg-attachment;
  background-position: $footer-bg-position;
  background-size:$footer-bg-size;
  line-height: $footer-lh;
  text-transform: $footer-tt;
  @if $footer-list-reset == true {
    @extend %list-reset;
  }
  @if $footer-list-inline == true {
    @extend %list-inline;
  }
  .copy p {
    padding: $copyright-padding;
  }
  p {
    font-family:$footer-font;
    font-size:$footer-fsz;
    line-height: $footer-lh;
  }
  a {
    color:$footer-link-color;
    &:hover {
      color:$footer-link-hover;
    }
  }
  .wrapper {
    margin: 0 auto;
  }
  [class*='column-'] {
    padding:$footer-col-padding;
  }
}

@if $sticky-footer == true {
  html, body {
    min-height: 100%;
  }
  main {
    min-height: 100%;
    margin-bottom:-$footer-height;
    &:after {
      content: "";
      display: block;
      height: $footer-height;
    }
  }
}
