// ==========================================================================
// Dimensions
// ==========================================================================


//-grid
$grid-columns: 12;
$grid-max-width: 57em; //.wrapper

//-logo
$logo-width: 290px;
$logo-height: 53px;
$logo-max-width: 520px;
$logo-margin: 11px 0 0;

//-main
$main-row-padding: 1em;
$main-col-padding: 0;
$wrapper-padding: 0 2em;

//-nav
$nav-height: auto;
$nav-padding: 0 0;
$nav-link-padding: 0 0;
$iframe-top-fix: 7px;

//-mobile nav
$mobile-nav-height: auto;
$mobile-nav-padding:0 0 15px;

//-header
$header-height: 75px;
$header-col-padding: 10px;
$header-padding: 0 30px;

//-hero
$hero-height: 420px;
$hero-padding: 100px 0;
$hero-mobile-padding: 80px 0;

//-footer
$footer-padding: 1em 10% 1em 12%;
$footer-col-padding: 1em;
$footer-height: 70px;
$copyright-padding: 30px 0;

//-sidebar
$sidebar-width: 100px;
$sidebar-col-padding: 0;
$sidebar-padding: 10px 5px;

//-buttons
$btn-padding: 15px 20px;
$btn-border-radius: 0px;

//-socials
$social-link-padding: 5px 10px;
$social-border-radius: 2px;
$social-extras-padding: 5px 9px;
$social-margin: 20px 10px 0;

//-code
$code-padding: .25em .5em;
$code-vertical-align: middle;
