// ==========================================================================
// Positioning
// ==========================================================================

//-nav
$nav-float: right;
$mobile-nav-float: right;

//-logo
$logo-float: left;

//-hero
$hero-align: center;

//-footer
$footer-align: center;
