// ==========================================================================
// Variable Config
// ==========================================================================

//-desktop bp
$desktop-xl: "only screen and (min-width: 1600px)";
$desktop-lg: "only screen and (min-width: 1200px)";
$desktop-sm: "only screen and (min-width: 800px) and (max-width: 1028px)";
$desktop: "only screen and (min-width: 1029px)";

//-mobile bp
$mobile: "only screen and (max-width : 737px)";
$mobile-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 737px) and (orientation : landscape)";
$mobile-portrait: "only screen and (min-device-width : 320px) and (max-device-width : 737px) and (orientation : portrait) ";
$mobile-sm: "only screen and (max-width : 320px)";

//-tablet bp
$tablet: "only screen and (min-width: 738px) and (max-width: 1027px)";
$tablet-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
$tablet-portrait: "only screen and (min-width: 30em) and (orientation : portrait)";

//-ie mq
$ie9-only: "only screen and (min-width:0\0)";
$ie10-up: "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";

//-font family
$sans: 'Helvetica Neue',Helvetica,Arial,sans-serif;
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;

//-default font
$default-font: $sans;

//-standard colors
$mg-black: #000;
$mg-blue: #495B7E;
$mg-white: #fff;
$mg-red: #ca2026;
$mg-yellow: #ffd850;
$mg-purple: #6b1769;
$mg-pink: #eb2048;
$mg-green: #4ebd45;
$mg-orange: #ff9e04;
$mg-grey: #a6a6a6;
$mg-brown: #614126;

//-light colors
$light-purple: #F5F5FF;
$light-blue: #588bcd;
$light-brown: #c89863;
$light-grey: #efefef;
$light-green: #E3FFE6;
$light-orange: #f8d148;

//-other colors
$off-white: #f4f6f8;
$fb-blue: #495699;
$tw-blue: #4099ff;
$yt-red: #a8462a;
$insta-blue: #455b84;
$walmart-blue: #007cc2;
